# This is an implicit value here for clarity
--index https://pypi.python.org/simple/

cython
numpy
pandas
scipy
xlrd
openpyxl
matplotlib
BeautifulSoup4
requests
PyQt5
scikit-image
scikit-learn
tqdm
gym